/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    min-height: 100vh;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;

}

/* Navbar Styling */
.navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f39c12;
}

.logo {
    width: 50px;
}

/* Content Styling */
.content {
   margin-top: 10%;
   max-width: 600px;
   
}

.content h1 {
    font: size 70px;;
    color: #222;
}

.content p {
    margin: 10px 0 30px;
    color: #333;

}

.details {
    font-size: 1rem;
    color: #555;
}

.details strong {
    color: #333;
}

.details a {
    color: #f39c12;
    text-decoration: none;
}

.details a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 30px;
    border-top-right-radius: 0;
    font-size: 14px;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    padding: 14px 40px;
    transition: 0.5s;
}

.btn:hover {
    border-top-right-radius: 30px;
}

.feature {
    width: 530px;
    position: absolute;
    bottom: 0;
    right: 10%;
}